Options -Indexes +ExecCGI
AddHandler cgi-script .cgi .pl

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf|svg)$">
    Header set Cache-Control "max-age=31536000, public"
  </filesMatch>
  <filesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=31536000, private"
  </filesMatch>
 </ifModule>
# END Cache-Control Headers