body {
  font-family: $headings;
  font-size: 17px;
  line-height: 1.9;
  color: #2c2c2c;
  letter-spacing: 0.3px;
  margin: 0;
}

.row {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1024px;
  margin: auto;

  @media (max-width: 1024px) and (min-width: 900px) {
    max-width: 880px;
  }

  @include device(xs) {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}

h1, h2, h3, h4, h5 {
  margin-top: 0;

  //letter-spacing: -0.6px;
  line-height: 1.3;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #393185;
  font-family: $headings;
  font-weight: 700;
}

.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  @extend .transition;
  text-decoration: none !important;

  &.btn {
    background: #f6a8a8; /* Old browsers */
    background: -moz-linear-gradient(left, #f6a8a8 0%, #e96fa2 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f6a8a8 0%, #e96fa2 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f6a8a8 0%, #e96fa2 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a8a8', endColorstr='#e96fa2', GradientType=1) !important; /* IE6-9 */
    position: relative;

    padding: 12px 20px;
    color: #fff !important;
    font-family: $headType;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0 0 0px 0px rgba(152, 123, 123, 0);

    &:hover {
      //box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  &.btn-larger {
    font-size: 25px;
    padding: 12px 30px;
  }
  &.full {
    width: 100%;
  }
}

p {
  margin-bottom: 25px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

//img {
//  max-width: 100%;
//  &.center {
//    display: block;
//    margin: auto;
//  }
//  &.full {
//    width: 100%;
//  }
//}
