body {
  font-family: $headings;
  font-size: 16px;
  line-height: 1.9;
  color: #2c2c2c;
  letter-spacing: 0.3px;
  margin: 0;
}

.row {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1024px;
  margin: auto;

  @media (max-width: 1024px) and (min-width: 900px) {
    max-width: 880px;
  }

  @include device(xs) {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #393185;
  font-family: $headings;
  font-weight: 700;
  padding: 40px 0;
  text-align: center;
}

h4 {
  letter-spacing: 2px;
  color: $headers;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 700;
}

.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  @extend .transition;
  text-decoration: none !important;
  &:hover {
    cursor: pointer;
  }

}

p {
  line-height: 1.1;
  text-align: justify;
}

.stripe {
  top: 4px;
  left: 10px;
  width: 55px;
  height: 5px;
  background-color: $stripes;
  margin-bottom: 5px;
}

