.header {
  @extend .transition;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 66px 4px rgba(152,123,123,0);
  .logo img {
    width: 250px;
  }
  @include device(sm-down){
    position: absolute;
  }
  &.scrolled {
    background: #e1bbdf; /* Old browsers */
    box-shadow: 0 0 66px 4px rgba(152, 123, 123, 0.18);
    .row {
      padding-top: 5px;
      padding-bottom: 10px;
    }
    nav {
      margin-top: 2px;
    }
    .logo img{
      font-size: 28px;
      width: 200px;
      position: absolute;
    }
  }
  .row {
    @extend .transition;
    padding-top: 30px;
    //padding-bottom: 60px;
    @include device(sm-down){
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .logo {
    @include device(sm-down){
      text-align: center;
      display: block;
      font-size: 36px;
    }
  }
  nav {
    text-align: right;
    margin-top: 20px;
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
    }
    a {
      font-size: 14px;
      color: $headColor;
      text-transform: uppercase;
      font-family: $header;
      font-weight: bold;
      letter-spacing: 2px;
      display: block;
      padding: 10px;
    }
  }
}