// header

$header: 'Muli', sans-serif;
$headType: 'Muli', sans-serif;
$headTypeLight: 'Muli', sans-serif;

// logo colors
$logoCircle: #393185;

$headColor: white;
$heroColor: #9966CC;
$headings: 'Muli', sans-serif;